* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

section {
    width: 100%;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin: 40px 0 10px;
  width: 100%;
}

h3 {
  margin: 20px 0 10px;
}

h4 {
  margin: 10px 0 5px;
}

h5 {
  margin: 5px 0 3px;
}

h6 {
  margin: 3px 0 2px;
}

p {
  line-height: 20px;
  margin: 15px 0;
}

a {
  text-decoration: none;
  font-weight: bold;
}

ul,
ol {
  padding: 15px 0 15px 25px;
}

table, th, td {
  border:1px solid black;
}

th, td {
  padding: 5px 10px;
}

code {
  display: inline-block;
  padding: 2px 6px;
  /*   notice that this collapses with its parent's padding */
  margin: 5px; 
  background: #ddd;
  border: 2px solid #666;
  border-radius: 30px;
}

/* section
figure
figcaption
article */