h1 { color: black; }
li { margin-bottom: 20px; }

* { color: #444; }
li { color: BurlyWood; }
ul li { color: Chocolate; }
.my-class {color: CadetBlue; }
ul li.my-class {color: DarkCyan; }
#my-id { color: LightGreen; }
.unordered-list-class #my-id { color: Green; }
.my-important-class { color: red !important; }

/* li { color: DarkOrange; } */
